a.link-main {
    color:#212121;
    text-decoration: none;
    margin-left:145px;
    margin-top:31px;
    font-size: 26px;
    font-family: ;
}

span.text {
    color: #2196F3;
    font-size: 26px;
}

ul.link-submain-list {
    font-size: 14px;
    margin-top: 16px;
    margin-left: 281px;
    text-decoration: none;
    list-style-type: none;

}

a.link-submain {
    text-decoration: none;
    list-style: none;
    color: #212121;
}
